
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    -light-color: #ff4848;

    .navbar-brand{
        font-size: 25px;
    }
    

    .nav-link{
        margin-left: 1rem;
    }
        
    img:first-of-type{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        }
    
}

