.content {
    .hero-section {
      text-align: center;
      padding: 4rem 0;
    }
  
    .my-5 {
      text-align: center;
  
      .row {
        justify-content: center;
      }
    }
  
    .stats-news-section, .call-to-action {
      text-align: center;
      padding: 4rem 0;
    }
  
    .footer {
      background-color: #343a40;
      text-align: center;
      padding: 2rem 0;
  
      p {
        margin-bottom: 0;
      }
    }
  
    // Styles for images and shadows
    .rounded {
      border-radius: 0.75rem;
    }
  
    .shadow {
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }
  