.custom-navbar {
    background-color: #0056b3; // Primary blue background color.
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
    .navbar-brand {
      color: #ffffff; // Color for brand text.
      font-size: 2rem;
      font-weight: bold; 
      transition: color 0.3s ease-in-out; 
  
      &:hover {
        color: #ffdd59; // Hover color.
      }
    }
  
    .nav-link {
      color: #f8f9fa; // Color for links.
      font-size: 1.1rem;
      transition: color 0.3s ease-in-out;
  
      &:hover {
        color: #ffdd59; // Hover color.
        text-decoration: none; 
      }
    }
  
    .navbar-toggler {
      border-color: #ffdd59; // Color for the toggler button.
    }
  
    .navbar-collapse {
      justify-content: flex-end; // Align links to the right.
    }
  }