@import "../../Breakpoints/Breakpoints.scss";

.carousel-container {
    .carousel-caption {
      background: rgba(0, 0, 0, 0.6); // Semi-transparent background to improve readability.
      border-radius: 0.5rem;
      padding: 1rem;
      bottom: 10%; // Caption position in the carousel.
      right: 10%;
      left: 10%;
      text-align: left;
  
      h3 {
        font-size: 2.5rem; // Bigger font size for the title.
        color: #fff;
      }
      p {
        font-size: 1.2rem; // Regular size for the text font.
        color: #f8f9fa;
      }
    }
  
    .carousel-item {
      text-align: center; // Center images within the carousel.
    }
  }