@import "~bootswatch/dist/Journal/variables";
@import "~bootstrap/scss/bootstrap";

@import "./components/Header/Header.scss";


body{
    padding-top: 75px ;
    background-color: $gray-200;
    border-left: 1rem solid;
}
